.Rproj.user
.Rhistory
.RData
.Ruserdata
Homo_sapiens_UCSC_hg38.tar.gz
.DS_Store
.DS_Store
.DS_Store
rna_seq_tutorial.tex
rna_seq_tutorial_files/figure-html/unnamed-chunk-10-1.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-11-1.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-5-1.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-5-2.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-5-3.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-6-1.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-7-1.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-7-2.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-7-3.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-9-1.png
rna_seq_tutorial_files/figure-html/unnamed-chunk-9-2.png
.DS_Store
